@charset "utf-8";

@import url(reset.css);
@import url(clearfix.css);

/*レスポンシブ設定ここから*/
#header,#contents,#main,#footer{
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
}
/*レスポンシブ設定ここまで*/

/*基本設定ここから*/
body {
  background-color: #A3CCD6;
}
#contents {
  background-color: #BDA897;
  padding: 30px 15px;
  /* max-width: 1320px; */
}
.main,
#main-top,
#main-middle,
#main-bottom{
  background-color: #FFFEF4;
  text-align: center;
  margin: 2px 6px;
}
.main h1 {
  margin: 75px auto 30px auto;
}
.main p {
  margin-bottom: 9px;
}
#sub {
  padding: 0 50px 20px 50px;
}
#footer {
  margin-top: 20px;
}
.maxWidth {
  max-width: 450px;
}
/*基本設定ここまで*/

/*ヘッダー設定ここから*/
#header {
  padding-top:50px;
}
.col-2 {
  padding: 0;
}
/*ヘッダー設定ここまで*/

/*ボタン設定*/
button.btn.btn-primary,
a.btn.btn-primary  {
  background-color: #BADEA2;
  border-color: #BADEA2;
  border-radius: 30px;
  margin-bottom: 9px;
  padding: 10px 40px;
}
button.btn.btn-primary2 {
  background-color: #BADEA2;
  border-color: #BADEA2;
  border-radius: 15px;
  margin: 10px 10px;
}
#contents-btn {
  max-width: 150px;
}
a.list-group-item.list-group-item-action.shadow-sm.p-2.mb-3 {
  background-color: #BADEA2;
  border-color: #BADEA2;
  border-radius: 30px;
  text-align: center;
  color: #ffffff;
}
a.list-group-item.list-group-item-action.shadow-sm.p-2.mb-3:hover {
  background-color: #D6ADA3;
  border-color: #D6ADA3;
}
a.list-group-item.list-group-item-action.shadow-sm.p-2.mb-3:active {
  background-color: #ccad9d;
  border-color: #ccad9d;
}
.list-group-item {
      background-color: none;
      border: 1px solid rgb(0 0 0 / 0%);
}
/*ボタン設定ここまで*/

/*画像サイズ設定ここから*/
img#main-img  {
  width: 255px;
  height: 255px;
  padding-bottom: 25px;
}
#return,
#setting,
#logo{
  width: 80%;
  height: auto;
  max-width: 50%;
}
#logo-left {
  width: 80%;
  height: auto;
  max-width: 80%
}
img.profile-img {
  width: 100px;
  height: 100px;
}
img.blocked-img {
  width: 65px;
  height: 65px;
}
.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
/* img#setting {
  margin: 0 auto;
  display: block;
} */
/*画像設定ここまで*/
.flex-column p{
  text-align: center;
}
/*ブロック管理ページ設定ここから*/
.d-flex.justify-content-center {
  margin-bottom: 20px;
}
.align-self-center {
  padding-left: 10px;
}
/*ブロック管理ページ設定ここまで*/

/*アカウント管理画面設定ここから*/

/*アカウント管理画面設定ここから*/

/*マイルーム画面設定ここから*/
div#main-top,
div#main-middle,
div#main-bottom {
  border-radius: 20px;
}
.box {
  background:#BDA897;
  border: 1px #BDA897 solid; 
  padding:2px;
}
.col-5.align-self-start {
  padding: 0;
}
div#main-top {
  background-image: url(../images/海.jpeg);
  background-size: cover;
  max-width: 1050px;
  height: 300px;
}
a.list-group-item.list-group-item-action.shadow-sm.p-2.mb-3 {
  text-align: center;
  font-size: 1rem;
}
.flex-column {
  padding-top: 10px;
}
/*マイルーム画面設定ここまで*/

/*input設定ここから*/
input#floatingInput,
input#floatingPassword,
input#floatingemail,
textarea#floatingText,
.form-floating {
 border-radius: 30px;
}
/*input設定ここまで*/

/* サインアップinput設定ここから*/
.form-floating,
.form-floating.mb-3 {
  display: block;
}
/* サインアップinput設定ここまで*/

/*通報画面input設定ここから*/
textarea#floatingText {
  height: 200px;
}
/*通報画面input設定ここまで*/

/*アカウント画面input設定ここから*/
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3), 
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu){
  border-radius: 30px;
}
/*アカウント画面input設定ここまで */